
@*@{
    var item = ViewBag.Hello;
}
<h1 class="text-info">@item</h1>*@


@if(ViewBag.Condition =="5"){
    <h1 class="text-primary">if  Condition</h1>
}
else{
    <h1 class="text-info">Else Condition</h1>
}